@font-face {
	font-family: 'ProximaRegular';
	src: url('ProximaNova-Regular.eot');
	src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Regular.woff') format('woff'),
	url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaBold';
	src: url('ProximaNova-Bold.eot');
	src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Bold.woff') format('woff'),
		url('ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaLight';
	src: url('ProximaNova-Light.eot');
	src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Light.woff') format('woff'),
		url('ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

