<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOB Solutions - Login Panel</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fonts.css" />

</head>
<body ng-app="mainApp">
<div class="login-main">
    <div class="login-main__top">
        <img class="login-main__top__logo" src="/img/fob_logo.png">
        <img class="login-main__top__line" src="/img/line.png">
    </div>
    <div class="login-main__bottom" ng-controller="loginCtrl">
        <div class="alert alert-{{alertClass}} custom-alert" ng-show="message" ng-cloak=""  >
            Message : {{message}}
        </div>
        <form method="POST" ng-submit="login()" autocomplete="off">
        <input type="text" ng-model="formData.username" name="username" placeholder="Username"  class="login-main__bottom__input login-main__bottom__input--user" required>
        <input type="password" ng-model="formData.password" name="password" placeholder="Password" class="login-main__bottom__input login-main__bottom__input--pass" required>
            <div class="login-main__bottom__link-box">
                <a class="login-main__bottom__link-box__forgot" href="#">Forgot Password?</a>
                <button type="submit" class="login-main__bottom__link-box__button button--login">LOG IN</button>
            </div>
        </form>
    </div>

</div>

<script src="/js/angular.min.js"></script>
<script src="/js/controller.min.js"></script>
</body>
</html>